#newCatalogRoot
	#overlay
	#bgimage
	#topBar
		#collectionArea
			#backArrowArea
				img#backArrow
			//#prevCollection.nextPrevCollection
			//#mainCollection.mainCollection
			//#nextCollection.nextPrevCollection
			#nextArrowArea
				img#nextArrow
		#timelineArea
	#bottomContainer

		#catalogDivContainer
			#sortRow.background
				#yearButton.rowButton(tagName="Year")
					|Year
				#titleButton.rowButton(tagName="Title")
					|Title
				#artistButton.rowButton(tagName="Artist")
					|Artist
				#typeButton.rowButton(tagName="Type")
					|Type
				#searchFilter
					input#searchInput(placeholder="Enter Keyword")
					#searchTxt
			#catalogDiv.background
		#displayarea

		
			#infoDiv
			#tileDiv

		#selectedArtworkContainer

	#loadingArea			
	//- #feedbackContainer
	//- 	img#feedback-icon