doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"

#artmodeRoot
	#sideBar
		#toggler
			img#togglerImage
		#backBttnContainer
			img#backButton(src='images/icons/Back.svg')
		#sideBarSections
			#sideBarInfo
				#info
					#infoTitle
					#infoArtist	
					#infoYear
				#assetContainer
					#locationHistoryContainer
						#locationHistory
			#minimapContainer
				img#minimap
				#minimaprect
			#feedbackContainer
				img#feedback-icon
				#feedback-text
	#locationHistoryDiv
		#locationHistoryPanel
		#locationHistoryToggle
			img#locationHistoryToggleIcon
	#seadragonManipContainer
		#seadragonManipSlideButton 
			