#artmodeRoot
	#sideBar
		#toggler
			img#togglerImage(src='images/icons/Left.png')
		#backBttnContainer
			img#backButton(src='images/icons/Back.svg')
		#sideBarSections
			#sideBarInfo
				#info
					#infoTitle
					#infoArtist
					#infoYear
				#assetContainer
					#locationHistoryContainer
						#locationHistory
			#minimapContainer
				img#minimap
				#minimaprect
			.feedbackContainer
				.feedback-icon
				.feedback-text
	#locationHistoryDiv
		#locationHistoryPanel
		.locationHistoryToggle
			img.locationHistoryImg	
	#splitscreenContainer
		.splitscreenIcon