#newCatalogRoot
	#overlay
	#timelineDivContainer
		#row
			#artistButton
				|Artist
			#titleButton
				|Title
			#yearButton
				|Year
			#typeButton
				|Type
			#searchFilter
				input#searchInput
				#searchTxt
		#timelineDiv
	#bgimage
	#leftbar
		#leftbar-header
			#backbuttonArea
				img#catalogBackButton
			#exhibition-label
				#exhibitionSpan
					|Collections
		#exhibitarea
	#displayarea				
	#feedbackContainer
		img#feedback-icon
