#VideoPlayerRoot(class='root videoPlayer')
	#topBar
		#backButtonContainer(class='backButtonContainer')
			img#backButton(src='images/icons/Back.svg', class='backButton')
	#videoContainer
		video#video(preload='none')
	#bottomBar
		#playHolder
			img#playPauseButton(src='images/icons/PlayWhite.svg', class='videoControls')
		#currentTimeDisplay(class='videoControls')
		#volHolder
			img#videoControlsButton(src='images/icons/VolumeUpWhite.svg', class='videoControls')
		#sliderContainer(min='0', max='150')  
			#sliderPoint
		

