@import 'common.styl'

#newCatalogRoot
	background-color rgb(127,127,127)
	overflow-x hidden
	position absolute
	wh 100%

#newCatalogRoot .arrow
	position absolute
	top 23%
	left 34%
	height 20px
	cursor pointer

#newCatalogRoot .arrowArea
	display inline-block
	top 0%
	height 100% 
	width 5%
	position absolute

#newCatalogRoot .artistInfo
	color white
	float left
	position relative
	overflow hidden          
	text-overflow ellipsis
	white-space nowrap
	width 70%

#newCatalogRoot .artText
	margin-top 0.84%
	font-size 0.75em
	overflow hidden
	text-align center         
	text-overflow ellipsis                
	white-space nowrap
	width 90%
	position relative
	left 5%

#newCatalogRoot .artTitle
	background-color rgba(0, 0, 0, 0.6)
	height 20%
	opacity 1.0
	position absolute
	width 100%
                
#newCatalogRoot	#bgimage
	background-position center
	background-size cover
	opacity 0.2
	position absolute
	wh 100%

#newCatalogRoot #bottomContainer
	width 100%
	height 70%
	position absolute
	bottom 0

#newCatalogRoot #catalogDiv
	height 90%
	overflow-x auto
	overflow-y hidden
	position absolute
	bottom 0
	right 0
	width 100%
	z-index 49  

#newCatalogRoot #collectionArea
	height 40%
	width 100%
	overflow-x auto
	overflow-y hidden
	text-align center
	position absolute

#newCatalogRoot #collectionDescription
	width 90%
	height 90%
	overflow-y auto
	margin 5%
	margin-top 0%

#newCatalogRoot	.collectionDot
	wh 7px
	display inline-block
	background-color rgb(170,170,170)
	margin 3px
	border-radius 50%
	cursor pointer

#newCatalogRoot .collectionDotHolder
	height 20%
	width 100%
	text-align center
	position absolute
	top 30%

#newCatalogRoot #collection-label
	height 7%
	left 19%
	margin-left 1.22%
	padding 0px 0px 0px 10px
	position absolute
	top 2.45%
	text-align center
	width 45%   
	font-size 1.7em

#newCatalogRoot #collection-selection
	border solid transparent
	border-width 5px 0px 5px 0px
	display inline-block
	height 9.6%
	position relative
	padding-bottom 0.75%
	overflow none
	width 100%

#newCatalogRoot .collection-title
	display inline-block
	wh 100%
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	font-size 1.1em
	color white

#newCatalogRoot .currentThumbnail
	wh 100%
	border-radius 2%

#newCatalogRoot .descSpan
	text-overflow ellipsis
	word-wrap break-word

#newCatalogRoot .descText
	color white
	overflow-x hidden
	overflow-y auto
	white-space normal
	word-wrap break-word
	position absolute
	width 90%
	height 25%
	margin 5%
	bottom 0

#newCatalogRoot #displayHelp
	background-color rgba(0,0,0,0.5)
	height 100%
	left 0%
	position relative
	top 0.5%
	width 100%   

#newCatalogRoot #displayHelpText
	font-size 2.5em
	margin 0px auto
	position relative
	text-align center
	width 65%

#newCatalogRoot #displayHelpTitle
	font-size 2em 
	margin 0px auto
	padding-top 15%
	position relative           
	text-align center
	width 60%

#newCatalogRoot .exploreIcon
	float right
	height 50%
	margin-right 32%
	position relative
	top 25%
	width auto

#newCatalogRoot .exploreTab
	background-color rgba(0,0,0,0.4)
	color white
	//display none
	display inline-block
	height 16%
	overflow hidden 
	position absolute
	left 0
	width 100%  

#newCatalogRoot .exploreText
	float right
	margin-right 3% 
	position relative
	top 8%         

#newCatalogRoot #feedbackContainer
	bottom 0%
	float right
	height auto
	position relative
	padding-top 5.25%        
	right 1.5%
	width 6%

#newCatalogRoot #feedback-icon
	height 38%
	position absolute
	right 5%
	top 10%
	vertical-align middle
	width auto

#newCatalogRoot .imgDiv
	width 90%
	height 50%
	position absolute
	top 10%
	left 5%

#newCatalogRoot #infoDiv
	position absolute
	left 0%
	height 100%
	width 25%

#newCatalogRoot .infoText
	display inline-block
	float top
	top 100%        
	width 100% 

#newCatalogRoot #infoTilesContainer
	position absolute
	right 0
	height 100%
	width 75%

#newCatalogRoot #loadingArea
	background-color rgba(0, 0, 0, 0.7)
	height 100%
	position absolute
	width 100% 
	z-index 1000000

#newCatalogRoot .mainCollection
	margin auto
	display inline-block
	height 100%
	font-size 200%

#newCatalogRoot .nextPrevCollection
	display inline-block
	font-size 150%
	color rgb(170,170,170)
	position absolute
	top 15%
	height 50%
	overflow hidden
	text-align center
	text-overflow ellipsis                
	white-space nowrap
	padding-left 2%
	padding-right 2%
	cursor pointer

#newCatalogRoot #overlay
	background-color rgba(0, 0, 0, 0.7)
	position absolute
	wh 100%

#newCatalogRoot .previewTile
	background-color rgba(0,0,0,0.9)
	width 274px
	top 0%
	//display inline-block
	height 100%
	z-index 10001
	position absolute
	border-radius 2%

#newCatalogRoot .rowButton
	cursor pointer
	float left
	font-size 92.5%
	margin 0.475% 2%

#newCatalogRoot #sortRow
	height 10%
	position relative
	top 0%
	width 100%
	z-index 1000

#newCatalogRoot #searchInput
	background-color white
	border-color rgb(167,180,174)
	border-style solid
	border-width 0.05em
	color rgb(120,128,119)
	float right
	font-size 80%
	max-width 15%
	margin-top 0.5%
	position relative
	right 1%
	z-index 100
	border-radius 2%

#newCatalogRoot #searchTxt
	color white
	float right
	font-size 80%
	margin 0.65% 3% 0 0
	text-align right
	width 25%

#newCatalogRoot #selectedArtworkContainer
	background-color rgba(0,0,0,0.9)
	overflow-x scroll
	top 5%
	height 90%
	z-index 10000
	position absolute
	display none
	border-radius 2%

#newCatalogRoot .tile
	border 1px solid rgba(0,0,0,0.85)
	position absolute
	border-radius 3%	

#newCatalogRoot #tileDiv
	position absolute
	height 100%
	width 100%

#newCatalogRoot .tileImage
	position absolute
	wh 100%
	border-radius 3%	

#newCatalogRoot .timeline
	position absolute
	overflow visible !important
	width 100%
	height 3%
	top 45%

#newCatalogRoot #timelineArea
	position absolute
	width 90%
	left 5%
	height 60%
	bottom 0

#newCatalogRoot .timelineCircleArea
	position absolute
	width 100%
	height 3%
	top 45%
	overflow visible !important

#newCatalogRoot .timelineDateLabel
	position absolute
	height 100%
	top -100%
	white-space nowrap
	color rgb(170,170,170)

#newCatalogRoot .timelineEventCircle
	position absolute
	wh 20px
	background-color rgba(250,250,250, .5)
	border-radius 10px
	top -8px
	cursor pointer

#newCatalogRoot .timelineTick
	position absolute
	background-color rgb(170,170,170)
	width 2px
	max-width 2px
	height 100%
	top 0%

#newCatalogRoot .titleSpan
	line-height 100%
	margin 2.5%
	height 10%
	text-align center
	text-overflow ellipsis
	overflow hidden
	white-space nowrap
	width 95%

#newCatalogRoot #topBar
	height 30%
	position absolute
	top 0%
	width 100%
	z-index 2

#newCatalogRoot #topBar-header
	height 5%
	margin-bottom 15%
	overflow hide
	width 100%

#newCatalogRoot .tourLabel
	bottom 0px
	margin-right -7%
	position absolute
	right 5px
	wh 30%

#newCatalogRoot .videoLabel
	bottom 0px
	height 35%
	position absolute
	right 5px
	width 20%

#newCatalogRoot .yearInfo
	color white
	float right
	position relative
	text-align right
	width 30%

#newCatalogRoot .yearTextBox
	visibility hidden
	color white
	border-top-left-radius 20%
	background-color rgba(0,0,0,0.6)
	padding-left 5%
	padding-right 2%
	text-align center
	min-width 20%
	right 0%
	bottom 0%
	height 15%
	position absolute

::-webkit-scrollbar
	width 10px
	height 10px

::-webkit-scrollbar:horizontal
	width 15px
	height 15px

::-webkit-scrollbar-track 
	-webkit-box-shadow inset 0 0 6px rgba(200,200,200,0.5)
	border-radius 10px

::-webkit-scrollbar-thumb
	border-radius 10px
	-webkit-box-shadow inset 0 0 6px rgba(200,200,200,1)
	background-color rgba(0, 0, 0, 0.5)

