@import 'common.styl'

infoBgColor = rgba(0,0,0,1)


#startPageRoot
	position absolute
	wh 100%

#startPageRoot #background
	background-position center
	background-size cover
	position absolute
	wh 100%

#startPageRoot #brownInfoBox
	background-color infoBgColor
	border-bottom-left-radius 20px // CBC?
	height 10%
	position absolute
	right 0%
	top 10%
	width 20%

#startPageRoot #brownPeople
	font-size 0%
	height 40%
	left 100%
	margin-top 5px
	position absolute
	top 53%

#startPageRoot #expandImage
	height 30%
	left 50%
	position relative
	top 35%
	width auto

#startPageRoot #expandInfoButton
	background-color infoBgColor
	border-bottom-left-radius 20px // CBC?
	height 100%
	left 0%
	width 15%

#startPageRoot #fullTag
	color white
	font-size 70%
	left 20%
	position absolute
	top 60%

#startPageRoot #handGif
	float right
	height auto
	margin 2% 20% 0% 0%
	width 9%

#startPageRoot #infoDiv
	height 45%
	position absolute
	top 42%
	width 100%

#startPageRoot #infoTextHolder
	height 100%
	padding 0% 4%
	position relative
	top 0%

#startPageRoot #logo
	max-height 85%
	max-width 85%
	position relative
	top 7%
	wh auto

#startPageRoot #logoContainer
	height 10%
	position absolute
	right 0%
	text-align center
	top 0%
	width 20%

#startPageRoot #microsoftLogo
	height auto
	left 68%
	position absolute //relative
	top 17% //-90%
	width 20%

#startPageRoot #museumInfoDiv
	color white
	height 49.25%
	position relative
	width 100%
	word-wrap break-word
	padding-top 0.75%

#startPageRoot #museumInfoSpan
	font-size 1.5em

#startPageRoot #museumLoc
	color white
	font-size 2.25em
	height 20%
	position relative
	width 100%
	word-wrap break-word

#startPageRoot #museumName
	color white
	height 30%
	padding-top -4%
	outline 0
	outline-offset 0
	position relative
	width 100%
	word-wrap break-word


#startPageRoot #museumNameSpan
	height 100%
	font-size 400%

#startPageRoot #overlay
	position relative
	wh 100%

#startPageRoot #serverSetUpContainer
	background-color rgba(0,0,0,0.85)
	border-top-left-radius 10px
	border-top-right-radius 10px
	bottom 0%
	height 60% //was 50%
	position absolute
	right 18.5%
	text-align center
	width 63%

#startPageRoot #serverSetUpLabel
	color white
	font-size 85% //was 130% too big 
	position relative
	text-align center
	top 8%

#startPageRoot #serverTagBuffer
	bottom 0%
	display block
	height 8%
	position absolute
	right 0%
	width 23.8%

#startPageRoot #sponsoredText
	height auto
	left 68%
	position absolute //relative
	top 5% //-100%
	width 20%

#startPageRoot #tagName
	color white
	font-size 150%  //250% need to change the js file whenever change tagName or Fulltag to be consistent before/after expand
	left 20%
	position absolute
	top 8%

#startPageRoot #touchHint
	color white
	float left
	font-size 150%
	margin 3% 0% 0% 10%
	opacity 0.8
	text-shadow black 0.1em 0.1em 0.2em
	width 50%

#startPageRoot #touchHintDiv
	height 13%
	position absolute
	top 29%
	width 100%

#startPageRoot #authoringButtonBuffer
	bottom 0%
	height 8%
	left 0%
	position absolute
	width 23.8%

#startPageRoot #authoringButtonContainer
	background-color rgba(0,0,0,0.85)
	border-top-left-radius 10px
	border-top-right-radius 10px
	bottom 0%
	height 60%
	left 18.5%
	position absolute
	text-align center
	width 63%

#startPageRoot #authoringLabel
	color white
	font-size 85%
	position relative
	text-align center
	top 8%
	