@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#startPageRoot {
  position: absolute;
  width: 100%;
  height: 100%;
}
#startPageRoot #background {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
#startPageRoot #brownInfoBox {
  background-color: #000;
  border-bottom-left-radius: 20px;
  height: 10%;
  position: absolute;
  right: 0%;
  top: 10%;
  width: 20%;
}
#startPageRoot #brownPeople {
  font-size: 0%;
  height: 40%;
  left: 100%;
  margin-top: 5px;
  position: absolute;
  top: 53%;
}
#startPageRoot #expandImage {
  height: 30%;
  left: 50%;
  position: relative;
  top: 35%;
  width: auto;
}
#startPageRoot #expandInfoButton {
  background-color: #000;
  border-bottom-left-radius: 20px;
  height: 100%;
  left: 0%;
  width: 15%;
}
#startPageRoot #fullTag {
  color: #fff;
  font-size: 70%;
  left: 20%;
  position: absolute;
  top: 60%;
}
#startPageRoot #handGif {
  float: right;
  height: auto;
  margin: 2% 20% 0% 0%;
  width: 9%;
}
#startPageRoot #infoDiv {
  height: 45%;
  position: absolute;
  top: 42%;
  width: 100%;
}
#startPageRoot #infoTextHolder {
  height: 100%;
  padding: 0% 4%;
  position: relative;
  top: 0%;
}
#startPageRoot #logo {
  max-height: 85%;
  max-width: 85%;
  position: relative;
  top: 7%;
  width: auto;
  height: auto;
}
#startPageRoot #logoContainer {
  height: 10%;
  position: absolute;
  right: 0%;
  text-align: center;
  top: 0%;
  width: 20%;
}
#startPageRoot #microsoftLogo {
  height: auto;
  left: 68%;
  position: absolute;
  top: 17%;
  width: 20%;
}
#startPageRoot #museumInfoDiv {
  color: #fff;
  height: 49.25%;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  padding-top: 0.75%;
}
#startPageRoot #museumInfoSpan {
  font-size: 1.5em;
}
#startPageRoot #museumLoc {
  color: #fff;
  font-size: 2.25em;
  height: 20%;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}
#startPageRoot #museumName {
  color: #fff;
  height: 30%;
  padding-top: -4%;
  outline: 0;
  outline-offset: 0;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}
#startPageRoot #museumNameSpan {
  height: 100%;
  font-size: 400%;
}
#startPageRoot #overlay {
  position: relative;
  width: 100%;
  height: 100%;
}
#startPageRoot #serverSetUpContainer {
  background-color: rgba(0,0,0,0.85);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0%;
  height: 60%;
  position: absolute;
  right: 18.5%;
  text-align: center;
  width: 63%;
}
#startPageRoot #serverSetUpLabel {
  color: #fff;
  font-size: 85%;
  position: relative;
  text-align: center;
  top: 8%;
}
#startPageRoot #serverTagBuffer {
  bottom: 0%;
  display: block;
  height: 8%;
  position: absolute;
  right: 0%;
  width: 23.8%;
}
#startPageRoot #sponsoredText {
  height: auto;
  left: 68%;
  position: absolute;
  top: 5%;
  width: 20%;
}
#startPageRoot #tagName {
  color: #fff;
  font-size: 150%;
  left: 20%;
  position: absolute;
  top: 8%;
}
#startPageRoot #touchHint {
  color: #fff;
  float: left;
  font-size: 150%;
  margin: 3% 0% 0% 10%;
  opacity: 0.8;
  text-shadow: #000 0.1em 0.1em 0.2em;
  width: 50%;
}
#startPageRoot #touchHintDiv {
  height: 13%;
  position: absolute;
  top: 29%;
  width: 100%;
}
#startPageRoot #authoringButtonBuffer {
  bottom: 0%;
  height: 8%;
  left: 0%;
  position: absolute;
  width: 23.8%;
}
#startPageRoot #authoringButtonContainer {
  background-color: rgba(0,0,0,0.85);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0%;
  height: 60%;
  left: 18.5%;
  position: absolute;
  text-align: center;
  width: 63%;
}
#startPageRoot #authoringLabel {
  color: #fff;
  font-size: 85%;
  position: relative;
  text-align: center;
  top: 8%;
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#InternetFailureroot {
  background-color: #324b6b;
  color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1000000000;
}
#InternetFailureroot #sadFace {
  font-size: 100%;
  color: #fff;
  position: absolute;
}
#InternetFailureroot #noticeBox {
  width: 70%;
  height: 21%;
  top: 30%;
  right: 15%;
  position: absolute;
  background-color: #324b6b;
}
#InternetFailureroot #noticeLabel {
  color: #fff;
  font-size: 200%;
  left-margin: 4%;
  width: 96%;
}
#InternetFailureroot #reconnectButton {
  font-size: 150%;
  position: relative;
  left: 53%;
  top: 5%;
}
#InternetFailureroot #changeServerButton {
  font-size: 150%;
  position: relative;
  left: 50%;
  top: 5%;
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#artmodeRoot {
  width: 100%;
  height: 100%;
  position: absolute;
}
#artmodeRoot #assetContainer {
  overflow: visible;
  margin-top: 5%;
  height: 78%;
}
#artmodeRoot .mediaButton {
  float: left;
  margin: 1%;
  width: 46%;
  position: relative;
  border: 1px solid rgba(255,255,255,0.4);
  color: #fff;
}
#artmodeRoot .thumbnailImage {
  max-width: 100%;
  max-height: 100%;
}
#artmodeRoot #backBttnContainer {
  width: 13%;
  height: 5%;
  margin: 4% 4% 1% 4%;
}
#artmodeRoot #backButton {
  width: 100%;
  height: 100%;
}
#artmodeRoot .thumbnailButtonContainer {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}
#artmodeRoot .thumbnailButtonInnerContainer {
  display: table-cell;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  text-align: center;
}
#artmodeRoot #info {
  font-size: 22px;
  color: #fff;
  width: 100%;
  white-space: normal;
  padding-right: 7%;
}
#artmodeRoot #infoArtist {
  font-size: 110%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: normal;
}
#artmodeRoot .infoCustom {
  font-size: 110%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: normal;
}
#artmodeRoot #infoTitle {
  font-size: 160%;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
#artmodeRoot #infoYear {
  font-size: 110%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: normal;
}
#artmodeRoot #locationHistory {
  color: #fff;
  display: inline;
  font-size: 133%;
  position: relative;
  vertical-align: middle;
}
#artmodeRoot #locationHistoryContainer {
  position: relative;
  width: 100%;
  margin-bottom: 0.5%;
  float: left;
}
#artmodeRoot #locationHistoryDiv {
  display: none;
  top: 10%;
  height: 80%;
  z-index: 99;
  left: 22%;
  width: 77%;
  position: absolute;
  overflow-x: hidden;
}
#artmodeRoot #locationHistoryPanel {
  width: 87.5%;
  height: 100%;
  left: 0%;
  z-index: 99;
  background-color: rgba(0,0,0,0.7);
}
#artmodeRoot .mapOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  background-color: rgba(0,0,0,0.5);
  left: auto;
  top: auto;
}
#artmodeRoot #mapOverlayLabel {
  position: relative;
  float: right;
  margin-right: 21%;
  top: 35%;
  font-size: 22pt;
}
#artmodeRoot .thumbnailHolderDiv {
  height: 70%;
  position: relative;
  width: 92%;
  margin: 4% 4% 0 4%;
}
#artmodeRoot .mediaHolderImg {
  max-width: 100%;
}
#artmodeRoot .thumbnailButtonTitle {
  margin: 1% 2% 0% 2%;
  top: 80%;
  height: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 75%;
}
#artmodeRoot #minimap {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0%;
  z-index: 10;
}
#artmodeRoot #minimapContainer {
  width: 80%;
  height: 20%;
  background-color: rgba(0,0,0,0.9);
  bottom: 0%;
  left: 10%;
  position: absolute;
  vertical-align: middle;
  border: 1px solid #fff;
}
#artmodeRoot #minimaprect {
  position: absolute;
  border: solid #fff 1px;
  width: 100%;
  z-index: 50;
  pointer-events: none;
}
#artmodeRoot .seadragonManipButtoninout {
  cursor: pointer;
  height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
}
#artmodeRoot .seadragonManipButtonLR {
  cursor: pointer;
  height: 40px;
  position: absolute;
  text-align: center;
}
#artmodeRoot .seadragonManipButtonUD {
  cursor: pointer;
  position: absolute;
  text-align: center;
  width: 40px;
}
#artmodeRoot #seadragonManipContainer {
  background-color: rgba(0,0,0,0.85);
  height: 100px;
  position: absolute;
  top: -100px;
  width: 160px;
  z-index: 10000000;
}
#artmodeRoot #seadragonManipSlideButton {
  background-color: rgba(0,0,0,0.85);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  left: 0px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 160px;
  z-index: 10000000;
}
#artmodeRoot #seadragonManipSlideImg {
  width: 23px;
  height: 40px;
  transform: rotate(180deg);
  margin-top: -10px;
}
#artmodeRoot #crossfadeSlider {
  left: 10px;
  position: absolute;
  top: 110px;
  width: 140px;
}
#artmodeRoot #sideBar {
  background-color: rgba(0,0,0,0.7);
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 22% !important;
  z-index: 100;
}
#artmodeRoot #sideBarInfo {
  width: 100%;
  height: 73%;
  margin-bottom: 2%;
}
#artmodeRoot #sideBarSections {
  width: 89%;
  height: 83%;
  left: 5%;
  position: relative;
}
#artmodeRoot #toggler {
  background-color: rgba(0,0,0,0.7);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  right: -12%;
  top: 45%;
  width: 12%;
  height: 12%;
  z-index: 100;
}
#artmodeRoot #togglerImage {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 72%;
  height: 42%;
}
#artmodeRoot .tourButton {
  float: left;
  margin: 1%;
  width: 46%;
  position: relative;
  border: 1px solid rgba(255,255,255,0.4);
  color: #fff;
}
#artmodeRoot #zinControl {
  width: 25px;
}
#artmodeRoot #zoutControl {
  width: 25px;
}
#artmodeRoot .lpContents {
  position: relative;
  left: 2.5%;
  top: 2.5%;
  width: 95%;
  height: 95%;
}
#artmodeRoot .lpInfoDiv {
  float: left;
  padding-left: 2%;
  height: 100%;
  width: 58%;
  overflow: auto;
  font-size: 100%;
}
#artmodeRoot .lpMapDiv {
  position: relative;
  height: 50%;
  border: 1px solid #fff;
  text-align: center;
  background-color: #5e5e5e;
  margin-bottom: 20px;
}
#artmodeRoot .lpTextDiv {
  height: 100%;
  width: 40%;
  float: left;
  overflow: auto;
  font-size: 100%;
}
#artmodeRoot .lpTextInfoDiv {
  height: 40%;
  width: 100%;
  float: left;
}
#artmodeRoot .lpTitle {
  font-size: 110%;
  margin-bottom: 20px;
}
#artmodeRoot #locationHistoryToggle {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 45%;
  width: 4.5%;
  height: 15%;
}
#artmodeRoot .locations {
  display: none;
  width: 96%;
  height: 12%;
  padding: 2% 2% 4% 2%;
  color: #fff;
  overflow: hidden;
  background-color: rgba(0,0,0,0.01);
  white-space: nowrap;
  text-overflow: ellipsis;
}
#artmodeRoot #locationHistoryToggleIcon {
  position: absolute;
  top: 25%;
  height: 50%;
}
#artmodeRoot .drawer {
  display: inline;
}
#artmodeRoot .drawerHeader {
  width: 100%;
  float: left;
}
#artmodeRoot .drawerLabel {
  color: #fff;
  float: left;
  font-size: 133%;
  height: 30%;
  width: 85%;
}
#artmodeRoot .drawerToggleContainer {
  float: right;
  padding-top: 2%;
  position: relative;
  width: 10%;
}
#artmodeRoot .drawerPlusToggle {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
#artmodeRoot .drawerContents {
  display: none;
  clear: both;
  font-size: 93%;
  width: 95%;
  color: #ddd;
  padding-right: 20px;
  overflow-y: scroll;
  height: 170px;
}
#artmodeRoot .exhibitionPicker {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: #000;
  z-index: 10000;
  border: 3px double #fff;
  padding: 1.5%;
  display: block;
}
#artmodeRoot .infoLabel {
  width: 100%;
  color: #fff;
  font-size: 200%;
  margin-bottom: 2%;
}
#artmodeRoot .exhibitionsList {
  width: 100%;
  height: 60%;
  overflow: auto;
  margin-bottom: 2%;
}
#artmodeRoot .cancelButton {
  width: 10%;
  left: 85%;
  top: 89%;
  color: #fff;
  font-size: 140%;
  border-color: #fff;
  position: absolute;
}
#artmodeRoot .exhibitions-list-cell {
  width: 100%;
  height: 18%;
  position: relative;
  border: solid transparent;
  border-width: 5px 0px 5px 0px;
  display: inline-block;
  overflow: hidden;
  vertical-align: text-top;
  margin-bottom: 2%;
}
#artmodeRoot .textbox {
  width: 70%;
  height: 100%;
  font-size: 180%;
  display: inline-block;
  word-wrap: '';
  overflow: hidden;
}
#artmodeRoot .imgLoader {
  width: 7.5%;
  height: 100%;
  float: left;
  margin-right: 2.5%;
  margin-left: 6%;
  top: 5%;
  display: inline-block;
}
#artmodeRoot #feedbackContainer {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
}
#artmodeRoot #feedback-text {
  font-size: 20px;
  height: 10%;
  position: relative;
  display: inline;
  vertical-align: middle;
  left: 5%;
  color: #fff;
}
#artmodeRoot #feedback-icon {
  width: 10%;
  height: auto;
  position: relative;
  display: inline;
  vertical-align: middle;
}
#artmodeRoot #splitscreenContainer {
  font-size: 25px;
  text-align: center;
  width: 5%;
  height: 5%;
  position: absolute;
  right: 0%;
  top: 95%;
  vertical-align: center;
  background-color: rgba(0,0,0,0.6);
  border-top-left-radius: 10px;
  z-index: 500;
}
#artmodeRoot #splitscreenIcon {
  width: 65%;
  height: 50%;
  position: relative;
  opacity: 0.6;
  left: 2%;
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#newCatalogRoot {
  background-color: #7f7f7f;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
#newCatalogRoot #artistInfo {
  color: #fff;
  float: left;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}
#newCatalogRoot .artText {
  margin-top: 0.84%;
  font-size: 0.75em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  position: relative;
  left: 5%;
}
#newCatalogRoot .artTitle {
  background-color: rgba(0,0,0,0.6);
  height: 20%;
  opacity: 1;
  position: absolute;
  width: 100%;
}
#newCatalogRoot #backbuttonArea {
  height: 5%;
  left: 3.5%;
  position: absolute;
  top: 2.5%;
  width: 15%;
}
#newCatalogRoot	#bgimage {
  background-position: center;
  background-size: cover;
  opacity: 0.45;
  position: absolute;
  width: 100%;
  height: 100%;
}
#newCatalogRoot #catalogBackButton {
  display: block;
  height: auto;
  position: relative;
  top: 30%;
  width: 76.3%;
}
#newCatalogRoot #contentdiv {
  height: 80%;
  left: 2%;
  position: relative;
  text-overflow: ellipsis;
  top: 2.25%;
  width: 94%;
}
#newCatalogRoot #currentThumbnail {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
#newCatalogRoot #descSpan {
  text-overflow: ellipsis;
  word-wrap: break-word;
}
#newCatalogRoot #description-text {
  color: #fff;
  height: 90%;
  left: 45%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 2%;
  position: absolute;
  text-overflow: ellipsis;
  white-space: normal;
  width: 55%;
  word-wrap: break-word;
}
#newCatalogRoot #displayarea {
  height: 50%;
  left: 25%;
  position: absolute;
  width: 75%;
}
#newCatalogRoot #displayareasub {
  left: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
}
#newCatalogRoot #displayHelp {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0%;
  position: relative;
  top: 0.5%;
  width: 100%;
}
#newCatalogRoot #displayHelpText {
  font-size: 2.5em;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 65%;
}
#newCatalogRoot #displayHelpTitle {
  font-size: 2em;
  margin: 0px auto;
  padding-top: 15%;
  position: relative;
  text-align: center;
  width: 60%;
}
#newCatalogRoot #collectionArea {
  background-color: rgba(0,0,0,0.7);
  height: 88%;
  margin-left: 4%;
  margin-top: 4%;
  overflow: auto;
  width: 82%;
}
#newCatalogRoot #collection-label {
  height: 7%;
  left: 19%;
  margin-left: 1.22%;
  padding: 0px 0px 0px 10px;
  position: absolute;
  top: 2.45%;
  text-align: center;
  width: 45%;
  font-size: 1.7em;
}
#newCatalogRoot #collection-info {
  height: 96%;
  position: absolute;
  top: 0%;
  width: 98%;
}
#newCatalogRoot #collection-name-div {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 96%;
  z-index: 100;
  margin-top: 5px;
}
#newCatalogRoot #collection-selection {
  border: solid transparent;
  border-width: 5px 0px 5px 0px;
  display: inline-block;
  height: 9.6%;
  position: relative;
  padding-bottom: 0.75%;
  overflow: none;
  width: 100%;
}
#newCatalogRoot .collection-title {
  display: inline-block;
  height: 100%;
  margin-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  font-size: 1.1em;
  margin-top: 2.15%;
}
#newCatalogRoot #exploreIcon {
  float: right;
  height: 50%;
  margin-right: 32%;
  position: relative;
  top: 25%;
  width: auto;
}
#newCatalogRoot #explore-tab {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  display: none;
  height: 16%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 84%;
  width: 100%;
}
#newCatalogRoot #explore-text {
  float: right;
  margin-right: 3%;
  position: relative;
  top: 8%;
}
#newCatalogRoot #feedbackContainer {
  bottom: 0%;
  float: right;
  height: auto;
  position: relative;
  padding-top: 5.25%;
  right: 1.5%;
  width: 6%;
}
#newCatalogRoot #feedback-icon {
  height: 38%;
  position: absolute;
  right: 5%;
  top: 10%;
  vertical-align: middle;
  width: auto;
}
#newCatalogRoot #img-container {
  height: 91.5%;
  position: absolute;
  top: 0%;
  width: 40%;
}
#newCatalogRoot #info-text {
  display: inline-block;
  float: left;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
#newCatalogRoot #leftbar {
  height: 45%;
  position: absolute;
  width: 25%;
  z-index: 2;
}
#newCatalogRoot #leftbar-header {
  height: 5%;
  margin-bottom: 15%;
  overflow: hide;
  width: 100%;
}
#newCatalogRoot #loadingArea {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000000;
}
#newCatalogRoot #overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
#newCatalogRoot #sortRow {
  background-color: rgba(0,0,0,0.5);
  height: 12.5%;
  position: relative;
  top: 0%;
  width: 100%;
  z-index: 10000;
}
#newCatalogRoot .rowButton {
  cursor: pointer;
  float: left;
  font-size: 92.5%;
  margin: 0.475% 2%;
}
#newCatalogRoot #searchInput {
  background-color: #fff;
  border-color: #a7b4ae;
  border-style: solid;
  border-width: 0.05em;
  color: #788077;
  float: right;
  font-size: 80%;
  max-width: 15%;
  margin-top: 0.5%;
  position: relative;
  right: 1%;
  z-index: 100;
}
#newCatalogRoot #searchTxt {
  color: #fff;
  float: right;
  font-size: 80%;
  margin: 0.65% 3% 0 0;
  text-align: right;
  width: 25%;
}
#newCatalogRoot .tile {
  border: 1px solid rgba(0,0,0,0.85);
  height: 52%;
  position: absolute;
  width: 16%;
}
#newCatalogRoot .tileImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
#newCatalogRoot #catalogDiv {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  top: 0%;
  width: 100%;
  z-index: 49;
  scrollbar-base-color: #fff;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #fff;
  scrollbar-base-height: 10px;
}
#newCatalogRoot #catalogDivContainer {
  height: 42.5%;
  position: absolute;
  top: 51%;
  width: 100%;
}
#newCatalogRoot #titleSpan {
  line-height: 100%;
  margin-bottom: 15px;
  overflow-x: none;
  text-overflow: ellipsis;
}
#newCatalogRoot .tourLabel {
  bottom: 0px;
  margin-right: -7%;
  position: absolute;
  right: 5px;
  width: 30%;
  height: 30%;
}
#newCatalogRoot .videoLabel {
  bottom: 0px;
  height: 35%;
  position: absolute;
  right: 5px;
  width: 20%;
}
#newCatalogRoot #yearInfo {
  color: #fff;
  float: right;
  position: relative;
  text-align: right;
  width: 30%;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(200,200,200,0.5);
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(200,200,200,0);
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(200,200,200,0.5);
  background-color: rgba(255,255,255,0.5);
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#VideoPlayerRoot {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#VideoPlayerRoot #backButton {
  width: 60%;
  height: auto;
}
#VideoPlayerRoot #backButtonContainer {
  position: absolute;
  width: 5%;
  top: 20%;
  left: 1%;
}
#VideoPlayerRoot #bottomBar {
  background-color: #3f3735;
  height: 8%;
  width: 100%;
  top: 92%;
  position: absolute;
}
#VideoPlayerRoot #currentTimeDisplay {
  width: 5%;
  height: 80%;
  display: inline-block;
  color: #fff;
  position: relative;
  vertical-align: top;
  top: 17.6%;
  margin-left: 75%;
}
#VideoPlayerRoot #overlayOnRoot {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #f00;
  width: 100%;
  height: auto;
}
#VideoPlayerRoot #playHolder {
  position: relative;
  height: 70%;
  width: 10%;
  display: inline-block;
  margin: 0 1%;
  top: 4%;
  margin-left: 1%;
}
#VideoPlayerRoot #playPauseButton {
  position: relative;
  height: 100%;
  width: auto;
  padding-left: 2%;
  display: inline-block;
}
#VideoPlayerRoot #seek-bar {
  padding: 1%;
  width: 40%;
  height: 10%;
  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
}
#VideoPlayerRoot #sliderContainer {
  display: inline-block;
  height: 25%;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
#VideoPlayerRoot #sliderPoint {
  display: inline-block;
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 0%;
  background-color: #3cf;
}
#VideoPlayerRoot #timeContainer {
  height: 20px;
  width: 40px;
  margin: 0px 1% 0px 1%;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}
#VideoPlayerRoot #topBar {
  background-color: #3f3735;
  position: absolute;
  width: 100%;
  height: 8%;
}
#VideoPlayerRoot #videoContainer {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 84%;
  text-align: center;
  top: 8%;
}
#VideoPlayerRoot #video {
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
#VideoPlayerRoot #videoControlsButton {
  height: 50%;
  width: auto;
  position: relative;
  display: inline-block;
}
#VideoPlayerRoot #volHolder {
  margin: 0px;
  top: 10%;
  width: 1%;
  height: 80%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 22%;
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#tourRoot {
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
}
#tourRoot #backButton {
  width: 3%;
  position: absolute;
  z-index: 100000000;
}
#tourRoot #backButtonContainer {
  left: 0.88%;
  position: absolute;
  top: 2.5%;
  width: 100%;
  height: 8%;
  z-index: 100000000;
}
#tourRoot #bigPlayButton {
  cursor: pointer;
  display: inline-block;
  left: 40%;
  opacity: 0.8;
  position: absolute;
  top: 35%;
  width: 20%;
}
#tourRoot #bigThumbnail {
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
}
#tourRoot #bigThumbnailContainer {
  background-color: #222;
  display: none;
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
}
#tourRoot #overlayOnRoot {
  background-color: #f00;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
#tourRoot #rinPlayer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: sourceSans;
  src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}
#tagRoot {
  overflow: hidden;
  position: relative;
  cursor: default;
  background-color: #111;
}
#tagRoot *:not(tspan) {
  font-family: sourceSans, sans-serif;
}
#tagRootContainer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
#tagRootInnerContainer {
  display: table-cell;
  font-size: 16px;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
#tagRoot div,
#tagRoot span {
  color: #eee;
}
#tagRoot a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
#tagRoot a:hover {
  text-decoration: underline;
}
#tagRoot img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#tagRoot button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
#tagRoot #annotatedImageAssetCanvas {
  overflow-x: hidden;
  overflow-y: hidden;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
}
#tagRoot .annotatedImageHotspotCircle {
  display: inline-block;
  height: 60px;
  position: absolute;
  visibility: hidden;
  width: 60px;
  z-index: 100000;
}
#tagRoot .annotatedImageMediaControlPanel {
  background-color: #3f3735;
  display: block;
  height: 40px;
  position: relative;
}
#tagRoot .annotatedImageMediaDescription {
  position: relative;
  left: 5%;
  width: 90%;
  color: #fff;
  word-wrap: break-word;
}
#tagRoot .annotatedImageMediaTitle {
  position: relative;
  left: 5%;
  width: 90%;
  color: #fff;
  top: 5px;
  margin-bottom: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}
#tagRoot #annotatedImageViewer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#setViewRoot {
  background-color: #dbd9cc;
  color: #000;
  width: 100%;
  height: 100%;
}
#setViewRoot input {
  border-width: thin;
}
#setViewTopBar {
  height: 8%;
  min-height: 25px;
  width: 100%;
  background-color: #3f3735;
}
#setViewBackButton {
  height: 63%;
  margin-left: 1.2%;
  width: auto;
  top: 18.5%;
  position: relative;
}
#setViewTopBarLabel {
  margin-right: 2%;
  margin-top: 0.36%;
  color: #fff;
  position: absolute;
  text-align: right;
  right: 0px;
  top: 0px;
}
#setViewNavBar {
  height: 92%;
  width: 23%;
  float: left;
}
#setViewRoot .navContainer {
  min-height: 40px;
  height: 10%;
  background: transparent;
  color: #000;
  margin-top: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
}
#setViewRoot .navtext {
  font-size: 100%;
  display: block;
  margin-left: 6.95%;
  margin-top: 0.372%;
}
#setViewRoot .navsubtext {
  font-size: 70%;
  display: block;
  margin-left: 6.95%;
  margin-top: 0.372%;
}
#setViewMiddleBarContainer {
  width: 22%;
  height: 92%;
  float: left;
}
#setViewRoot .middleLabel {
  min-height: 20px;
  height: 8%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 3.2%;
  margin-bottom: 3%;
  overflow: hidden;
  position: relative;
}
#setViewRoot .middleLabel .labelText {
  font-size: 100%;
  color: #000;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
#setViewSearchContainer {
  min-height: 40px;
  height: 8%;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#setViewSearchBar {
  width: 55%;
  border-color: #a7b4ae;
  margin-top: 2%;
  margin-left: 3.5%;
  border-style: solid;
}
#setViewRoot .button {
  font-size: 75%;
  height: 50%;
  min-width: 19%;
  padding-left: 2%;
  padding-right: 2%;
}
#setViewRoot button {
  border-style: solid;
  border-color: #000;
  color: #000;
  border-width: thin;
  background: transparent;
}
#setViewNewButton {
  float: right;
  height: 70%;
  width: 30%;
  font-size: 85%;
  margin-top: 1%;
  padding-bottom: 1%;
}
#setViewSecondaryButton {
  float: right;
  height: 100%;
  margin-top: 1%;
  padding-bottom: 1%;
  margin-right: 15px;
  display: none;
}
#setViewRoot input[type='text'] {
  border-style: solid;
  color: #000;
  border-color: #a7b4ae;
  padding: 0.5%;
}
#setViewRoot input[type='password'] {
  border-style: solid;
  border-color: #a7b4ae;
}
#setViewMiddleBar {
  width: 100%;
  height: 92%;
}
#setViewMiddleLabelContainer {
  padding-left: 3.5%;
  padding-right: 20px;
  padding-bottom: 5%;
  padding-top: 2%;
  height: 92%;
  overflow: auto;
}
#setViewMiddleLoading {
  padding: 2%;
  height: 40px;
  margin-right: 3%;
}
#setViewLoadingLabel {
  font-size: 160%;
}
#setViewLoadingCircle {
  height: 38.4px;
  width: auto;
  float: right;
}
#setViewRightBar {
  height: 92%;
  width: 54%;
  float: right;
  position: relative;
}
#setViewViewer {
  color: #fff;
  position: absolute;
  font-size: 6pt;
  background: #000;
  top: 0%;
  right: 0px;
  z-index: 5;
  overflow: hidden;
  width: 100%;
}
#setViewRoot textarea {
  color: #000;
  border-color: #a7b4ae;
  padding: 0.5%;
}
#setViewButtonContainer {
  width: 100%;
  position: absolute;
  height: 40px;
  z-index: 5;
  background-color: #dbd9cc;
  margin-top: 0.35%;
  margin-bottom: 2.5%;
}
#setViewSettingsBar {
  width: 100%;
  position: absolute;
  bottom: 0px;
  overflow: auto;
}
#setViewSettingsContainer {
  color: #000;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 0%;
}
#setViewRoot .settingLine {
  height: 20px;
  width: 100%;
  margin-bottom: 4%;
}
#setViewRoot .settingLine .labelText {
  color: #000;
  font-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  display: inline-block;
  height: 100%;
}
#setViewRoot .settingInput {
  font-size: 100%;
  float: right;
  margin-right: 3%;
  box-sizing: border-box;
  height: 100%;
  color: #000;
}
#setViewRoot .button .settingButton {
  height: 100%;
}

.dialogBoxOverlay {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000000005;
}
.dialogBoxContainer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  height: 100%;
}
.dialogBox {
  display: inline-block;
  width: 40%;
  border: 3px double #fff;
  text-align: center;
  background-color: #000;
  padding: 3%;
}
.dialogBoxTitle {
  color: #fff;
  font-size: 1.3em;
  position: relative;
  text-align: center;
  margin: 0.3em auto;
}
.dialogBox > p {
  color: #fff;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0.3em 0;
  padding: 0;
  position: relative;
  text-align: center;
}
.dialogBox > p:first-child {
  margin-top: 0;
}
.dialogBox > p:last-child {
  margin-bottom: 0;
}
#browserIcons {
  display: block;
  margin-top: 5%;
}
.browserIconLink {
  opacity: 0.9;
}
.browserIconLink:hover {
  opacity: 1;
}
.browserIcon {
  width: 15%;
  margin: 0% 4.5%;
}
