doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"

#artmodeRoot
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	#sideBar
		#toggler
			img#togglerImage
		#backBttnContainer
			img#backButton
		#linkContainer
			img#linkButton
		#sideBarSections
			#sideBarInfo
				#info
					#infoTitle
					#infoArtist	
					#infoYear
				#assetContainer
					#locationHistoryContainer
						#locationHistory
							| Location History
			#minimapContainer
				img#minimap
				#minimaprect
			#feedbackContainer
				img#feedback-icon
				#feedback-text
	#locationHistoryDiv
		#locationHistoryPanel
		#locationHistoryToggle
			img#locationHistoryToggleIcon
	#seadragonManipContainer
		#seadragonManipSlideButton
			| Show Controls
			