#newCatalogRoot
	#overlay
	#bgimage
	#topBar
		#backbuttonArea
			img#catalogBackButton
		#collectionArea
		#timelineArea
	#bottomContainer
		#catalogDivContainer
			#sortRow.background
				#artistButton.rowButton(tagName="Artist")
					|Artist
				#titleButton.rowButton(tagName="Title")
					|Title
				#yearButton.rowButton(tagName="Year")
					|Year
				#typeButton.rowButton(tagName="Type")
					|Type
				#searchFilter
					input#searchInput(placeholder="Enter Keyword")
					#searchTxt
			#catalogDiv.background
		#displayarea
		#selectedArtworkContainer
	#loadingArea			
	//- #feedbackContainer
	//- 	img#feedback-icon