#newCatalogRoot
	#overlay
	#bgimage
	#topBar
		#collectionArea
		#timelineArea
	#bottomContainer
		#sortRow
			#yearButton.rowButton(tagName="Year")
				|Year
			#artistButton.rowButton(tagName="Artist")
				|Artist
			#titleButton.rowButton(tagName="Title")
				|Title
			#typeButton.rowButton(tagName="Type")
				|Type
			#searchFilter
				input#searchInput(placeholder="Enter Keyword")
				#searchTxt
		#catalogDiv
			#infoDiv
		#selectedArtworkContainer
	#loadingArea			
	//- #feedbackContainer
	//- 	img#feedback-icon