#newCatalogRoot
	#overlay
	#catalogDivContainer
		#sortRow
			#artistButton.rowButton(tagName="Artist")
				|Artist
			#titleButton.rowButton(tagName="Title")
				|Title
			#yearButton.rowButton(tagName="Year")
				|Year
			#typeButton.rowButton(tagName="Type")
				|Type
			#searchFilter
				input#searchInput(placeholder="Enter Keyword")
				#searchTxt
		#catalogDiv
	#bgimage
	#leftbar
		#leftbar-header
			#backbuttonArea
				img#catalogBackButton
			#collection-label
				#collectionHeader
					| Collections
		#collectionArea
	#displayarea
		#displayareasub
	#loadingArea			
	//- #feedbackContainer
	//- 	img#feedback-icon
