#setViewRoot
    #setViewTopBar
        img#setViewBackButton
        #setViewTopBarLabel
    #setViewNavBar
    #setViewMiddleBarContainer
        #setViewSearchContainer
            input#setViewSearchBar(type='text')
            button#setViewNewButton
            button#setViewSecondaryButton
        #setViewMiddleBar
            #setViewMiddleLabelContainer
                #setViewMiddleLoading
                    label#setViewLoadingLabel
                    img#setViewLoadingCircle
    #setViewRightBar
        #setViewViewer
        #setViewButtonContainer
        #setViewSettingsBar
            #setViewSettingsContainer
