#setViewRoot
    #setViewTopBar
        img#setViewBackButton
        #setViewTopBarLabel
    #setViewNavBar
    #setViewLeftBarContainer
        #setViewSearchContainer
            input#setViewSearchBar(type='text')
            button#setViewNewButton
            button#setViewSecondaryButton
        #setViewLeftBar
            #setViewLeftLabelContainer
                #setViewLeftLoading
                    label#setViewLoadingLabel
                    img#setViewLoadingCircle
    #setViewRightBar
        #setViewViewer
        #setViewButtonContainer
        #setViewSettingsBar
            #setViewSettingsContainer
