#startPageRoot
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	#background
		#overlay
			#logoContainer
				img#logo
			#brownInfoBox
				#expandInfoButton
					img#expandImage
				label#tagName
					| TAG
				label#fullTag
					| Touch Art Gallery
			#infoDiv
				#infoTextHolder
					#museumName.startPageInfo
						span#museumNameSpan.primaryFont
					#museumLoc.startPageInfo
						span#museumLocSpan.primaryFont
					#museumInfoDiv.startPageInfo
						span#museumInfoSpan.primaryFont
			#touchHintDiv
				label#touchHint.secondaryFont
					| Tap the screen to begin exploring artworks
				img#handGif
		#authoringButtonBuffer
			#authoringButtonContainer
				label#authoringLabel
					| Authoring Mode
		#serverTagBuffer
			#serverSetUpContainer
				label#serverSetUpLabel
					| Change Server
