#VideoPlayerRoot(class='root videoPlayer')
	#topBar
		#backButtonContainer.backButtonContainer
			img#backButton.backButton
		#linkContainer
			img#linkButton
	#videoContainer
		video#video(preload='none')
	#bottomBar
		#playHolder
			img#playPauseButton.videoControls
		#currentTimeDisplay.videoControls
		#volHolder
			img#videoControlsButton.videoControls
		#sliderContainer(min='0', max='150')  
			#sliderPoint
		

