///////// constants /////////
aboveRinZIndex = 100000000

///////// fonts /////////
@font-face
	font-family sourceSans
	src url('../fonts/source-sans-pro.light.ttf')

///////// functions and mixins /////////
wh()
	width arguments
	height arguments

///////// rules /////////
#tagRoot a
	color #2266ee

#tagRoot img
	-moz-user-select -moz-none
	-khtml-user-select none
	-webkit-user-select none
	-o-user-select none
	user-select none

#tagRoot *
	font-family sourceSans, sans-serif
