///////// constants /////////
aboveRinZIndex = 100000000

///////// fonts /////////
@font-face
	font-family sourceSans
	//src url('../fonts/source-sans-pro.light.ttf')
	src url('../fonts/source-sans-pro-light/source-sans-pro-light.eot?') format('eot'), url('../fonts/source-sans-pro-light/source-sans-pro-light.woff') format('woff'), url('../fonts/source-sans-pro-light/source-sans-pro-light.ttf') format('ttf')

///////// functions and mixins /////////
wh()
	width arguments
	height arguments