@import 'common'

#tagRoot
	overflow hidden
	position relative

#tagRootContainer
	display table
	position absolute
	wh 100%

#tagRootInnerContainer
	display table-cell
	max-height 100%
	max-width 100%
	vertical-align middle

#tagRoot div,
#tagRoot span
	color #eeeeee

#tagRoot a
	color #26e

#tagRoot img
	-moz-user-select -moz-none
	-khtml-user-select none
	-webkit-user-select none
	-o-user-select none
	user-select none