@import 'common.styl'

#InternetFailureroot
	background-color rgb(50,75,107)
	color black
	wh 100%
	position relative
	left 0px
	top 0px
	z-index 1000000000
 
#InternetFailureroot #mainPanel

#InternetFailureroot #sadFace
	font-size 100%
	color white
	position absolute

#InternetFailureroot #serverSetUpContainer
	background-color rgba(0,0,0,0.85)
	border-top-left-radius 10px
	border-top-right-radius 10px
	bottom 0%
	height 60% //was 50%
	position absolute
	right 18.5%
	text-align center
	width 63%

#InternetFailureroot #serverSetUpLabel
	color white
	font-size 85% //was 130% too big 
	position relative
	text-align center
	top 8%

#startPageRoot #serverTagBuffer
	bottom 0%
	height 8%
	position absolute
	right 0%
	width 23.8%

#InternetFailureroot #noticeBox
	width 50%
	height 21%
	top 30%
	right 25%
	position absolute
	background-color rgb(50,75,107)

#InternetFailureroot #noticeLabel
	color white
	font-size 200%
	left-margin 4%
	width 96%
#InternetFailureroot #reconnectButton
  	font-size: 150%
  	position: relative
  	left: 50%
	top: 5%
