@import 'common.styl'

#InternetFailureroot {
	background-color rgb(50,75,107)
	color black
	wh 100%
	position relative
	left 0px
	top 0px
	z-index 1000000000
 }
#InternetFailureroot #mainPanel {
	
}

#InternetFailureroot #sadFace {
	font-size 100%
	color white
	position absolute
}

#InternetFailureroot #noticeBox {
	width 70%
	height 21%
	top 30%
	right 15%
	position absolute
	background-color rgb(50,75,107)
}

#InternetFailureroot #noticeLabel{
	color white
	font-size 200%
	left-margin 4%
	width 96%
}

#InternetFailureroot #reconnectButton {
	font-size: 150%
	position: relative
	left: 53%
	top: 5%
}

#InternetFailureroot #changeServerButton {
	font-size: 150%
	position: relative
	left: 50%
	top: 5%
}
