#tagRoot a {
  color: #26e;
}
#tagRoot img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#tagRoot * {
  font-family: 'source sans pro regular' sans-serif;
}
#InternetFailureroot {
  background-color: rgb(50,75,107);
  color: #fff;
  /*width: 100%;
  height: 100%;*/
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1000000000;
}
#InternetFailureroot #mainPanel,
#InternetFailureroot #sadFace {
  font-size: 1000%;
  color: #fff;
  position: absolute;
  top: 12%;
  left: 35%;
}
#InternetFailureroot #noticeBox {
  width: 50%;
  height: 21%;
  top: 40%;
  right: 25%;
  position: absolute;
  background-color: #324b6b;
}
#InternetFailureroot #noticeLabel {
  color: #fff;
  font-size: 30px;
  left-margin: 4%;
  width: 96%;
}
#InternetFailureroot #reconnectButton{
  font-size: 150%;
  position: relative;
  left: 50%;
  top: 5%; 
}
