#InternetFailureroot {
  background-color: #fff;
  color: #000;
  wh: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000000000;
}
#InternetFailureroot #mainPanel,
#InternetFailureroot #sadFace {
  font-size: 1000%;
  color: #fff;
  position: absolute;
  top: 12%;
  left: 35%;
}
#InternetFailureroot #noticeBox {
  width: 50%;
  height: 21%;
  top: 40%;
  right: 25%;
  position: absolute;
  background-color: #324b6b;
}
#InternetFailureroot #noticeLabel {
  color: #fff;
  font-size: 30px;
  left-margin: 4%;
  width: 96%;
}
