@import 'common'

#newCatalogRoot
	background-color rgb(127,127,127)
	overflow-x hidden
	position absolute
	wh 100%

#newCatalogRoot #artistInfo
	color white
	float left
	position relative
	overflow hidden          
	text-overflow ellipsis
	white-space nowrap
	width 70%

#newCatalogRoot #artText
	margin 0 auto
	overflow hidden
	text-align center         
	text-overflow ellipsis                
	white-space nowrap
	width 95%

#newCatalogRoot #artTitle
	background-color rgba(0, 0, 0, 0.6)
	opacity 1.0
	position absolute
                
#newCatalogRoot #backbuttonArea
	height 5%
	left 3.5%        
	position absolute
	top 7.4%        
	width 15%

#newCatalogRoot	#bgimage
	background-position center
	background-size cover
	opacity 0.45
	position absolute
	wh 100%

#newCatalogRoot #catalogBackButton
	height auto
	position relative
	top 30%
	width 76.3%

#newCatalogRoot #contentdiv
	left 3%
	position relative            
	text-overflow ellipsis
	top 2%
	width 94% 

#newCatalogRoot #descSpan
	text-overflow ellipsis
	word-wrap break-word

#newCatalogRoot #description-text
	color white
	height 90%
	left 45%
	overflow-x hidden
	overflow-y auto
	padding-right 2%
	position absolute
	text-overflow ellipsis
	white-space normal
	width 55%
	word-wrap break-word

#newCatalogRoot #displayarea
	height 50%
	left 25%
	position absolute
	width 75%

#newCatalogRoot #displayareasub
	position absolute
	wh 100%

#newCatalogRoot #displayHelp
	background-color rgba(0,0,0,0.5)
	height 100%
	left 0%
	position relative
	top 0.5%
	width 100%   

#newCatalogRoot #displayHelpText
	font-size 2.5em
	margin 0px auto
	position relative
	text-align center
	width 65%

#newCatalogRoot #displayHelpTitle
	font-size 2em 
	margin 0px auto
	padding-top 15%
	position relative           
	text-align center
	width 60%

#newCatalogRoot #exhibitarea
	background-color rgba(0, 0, 0, 0.7)	
	height 88%
	margin-left 4%
	margin-top 4%
	overflow auto
	width 82% 

#newCatalogRoot #exhibition-label
	height 7%
	left 19%
	margin-left 1.22%
	padding 0px 0px 0px 20px
	position absolute
	top 2.5%
	text-align center
	width 45%            

#newCatalogRoot #exhibition-info 
	height 96%
	position absolute
	top 0%
	width 98%

#newCatalogRoot #exhibition-name-div          
	display inline-block
	overflow hidden
	text-align center
	text-overflow ellipsis
	white-space nowrap
	width 96%
	z-index 100

#newCatalogRoot #exhibition-selection
	border solid transparent
	border-width 5px 0px 5px 0px
	display inline-block
	height 9.6%
	position relative
	padding-bottom 0.75%
	overflow none
	width 100%

#newCatalogRoot #exhibition-title
	display inline-block
	height 100%
	margin-left 5%
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	width 90%

#newCatalogRoot #exploreIcon
	float right
	height 50%
	margin-right 32%
	position relative
	top 25%
	width auto

#newCatalogRoot .explore-tab
	background-color rgba(0,0,0,0.4)
	color white
	display none
	height 16%
	left 0% 
	overflow hidden 
	position absolute
	top 84%
	width 100%  

#newCatalogRoot #explore-text
	float right
	margin-right 3% 
	position relative
	top 8%         

#newCatalogRoot #feedbackContainer
	bottom 0%
	float right
	height auto
	position relative
	padding-top 5.25%        
	right 1.5%
	width 6%

#newCatalogRoot #feedback-icon
	height 38%
	position absolute
	right 5%
	top 10%
	vertical-align middle
	width auto

#newCatalogRoot #image
	max-height 100% 
	max-width 100% 
	wh 100%

#newCatalogRoot #img-container
	position absolute
	top 0%

#newCatalogRoot #info-text
	display inline-block
	float left
	left 0
	position absolute
	top 100%        
	width 100% 

#newCatalogRoot #leftbar
	height 45%
	position absolute
	width 25%

#newCatalogRoot #leftbar-header
	height 5%
	margin-bottom 15%
	overflow hide
	width 100%

#newCatalogRoot #loadingArea
	background-color rgba(0, 0, 0, 0.7)
	height 100%
	position absolute
	width 100% 

#newCatalogRoot #overlay
	background-color rgba(0,0,0,0.5)
	position absolute
	wh 100%

#newCatalogRoot #row
	background-color rgba(0, 0, 0, 0.5)
	height 12.5%
	position relative
	top 0%
	width 100%
	z-index 10000

#newCatalogRoot .rowButton
	float left
	font-size 90%
	margin 0.3% 2%

#newCatalogRoot #searchInput
	background-color white
	border-color rgb(167,180,174)
	border-style solid
	border-width 0.05em
	color rgb(120,128,119)
	float right
	max-width 15%
	margin-top 0.5%
	position relative
	right 1%
	z-index 100

#newCatalogRoot #searchTxt
	color white
	float right
	margin 0.65% 3% 0 0
	text-align right
	width 25%

#newCatalogRoot #timelineDiv
	background-color rgba(0,0,0,0.5)
	height 100%
	overflow-x auto
	overflow-y hidden
	position relative
	top 0%
	width 100%
	z-index 49            

#newCatalogRoot #timelineDivContainer
	height 42.5%
	position absolute
	top 51%
	width 100%

#newCatalogRoot #titleSpan
	line-height 100%
	margin-bottom 15px
	overflow-y scroll
	overflow-x none
	text-overflow ellipsis

#newCatalogRoot #tourLabel
	bottom 0px
	position absolute
	right 5px

#newCatalogRoot #videoLabel
	bottom 0px
	position absolute
	right 5px

#newCatalogRoot #yearInfo
	color white
	float right
	position relative
	text-align right
	width 30%
