//@ import 'common.styl'

#setViewRoot
    background-color rgb(219,217,204)
    color black
    width 100%
    height 100%

#setViewTopBar
    height 8%
    width 100%
    background-color rgb(63,55,53)

#setViewBackButton
    height 63%
    margin-left 1.2%
    width auto
    top 18.5%
    position relative

#setViewTopBarLabel
    margin-right 2%
    margin-top: (8 * 0.045)%
    color white
    position absolute
    text-align right
    right 0px
    top 0px

#setViewNavBar 
    height 92%
    //font-size 215%
    width 23%
    float left

#setViewLeftBarContainer
    width 22%
    //font-size 160%
    float left

#setViewSearchContainer
    height 40px
    width 100%
    margin-top 2.5%
    margin-bottom 2.5%

#setViewSearchBar
    width 55%
    border-color rgb(167,180,174)
    margin-top: 2%
    margin-left: 3.5%

#setViewNewButton
    float right
    height 100%
    border-color black
    margin-top 1%
    padding-bottom 1%

#setViewSecondaryButton
    float right
    height 100%
    color black
    border-color black
    margin-top 1%
    padding-bottom 1%
    margin-right 15px
    display none

#setViewLeftBar
    width 100%
    overflow auto

#setViewLeftLabelContainer
    padding-left 3.5%
    padding-right 20px
    padding-bottom 5%
    padding-top 2%

#setViewLeftLoading
    padding 2%
    height 40px
    margin-right 3%

#setViewLoadingLabel
    font-size 160%

#setViewLoadingCircle
    height 40*0.96 px
    width auto
    float right

#setViewRightBar
    height 92%
    width 54%
    float right
    position relative

#setViewViewer
    color white
    position absolute
    font-size 6pt
    background black
    top 0%
    right 0px
    z-index 5
    overflow hidden

#setViewButtonContainer
    width 100%
    position absolute
    height 40px
    z-index 5
    background-color rgb(219,217,204)
    margin-top 0.35%
    margin-bottom 2.5%

#setViewSettingsBar
    width 100%
    position absolute
    bottom 0px
    overflow auto
    
#setViewSettingsContainer
    margin-left 2%
    margin-top 3%
    margin-bottom 3%
    margin-right 0%
  
