#rinPlayer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#startPageRoot {
  position: absolute;
  width: 100%;
  height: 100%;
}
#startPageRoot #background {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
#startPageRoot #brownInfoBox {
  background-color: #000;
  border-bottom-left-radius: 20px;
  height: 10%;
  position: absolute;
  right: 0%;
  top: 10%;
  width: 20%;
}
#startPageRoot #brownPeople {
  color: #fff;
  font-size: 0%;
  height: 40%;
  left: 100%;
  position: absolute;
  top: 53%;
  font-family: sans-serif;
}
#startPageRoot #expandImage {
  height: 30%;
  left: 50%;
  position: relative;
  top: 35%;
  width: auto;
}
#startPageRoot #expandInfoButton {
  background-color: #000;
  border-bottom-left-radius: 20px;
  height: 100%;
  left: 0%;
  width: 15%;
}
#startPageRoot #fullTag {
  color: #fff;
  font-size: 90%;
  left: 20%;
  position: absolute;
  top: 60%;
  font-family: sans-serif;
}
#startPageRoot #handGif {
  float: right;
  height: auto;
  margin: 2% 20% 0% 0%;
  width: 9%;
}
#startPageRoot #infoDiv {
  height: 45%;
  position: absolute;
  top: 42%;
  width: 100%;
}
#startPageRoot #infoTextHolder {
  height: 100%;
  padding: 0% 4%;
  position: relative;
  top: 0%;
}
#startPageRoot #logo {
  max-height: 85%;
  max-width: 85%;
  position: relative;
  top: 7%;
  width: auto;
  height: auto;
}
#startPageRoot #logoContainer {
  height: 10%;
  position: absolute;
  right: 0%;
  text-align: center;
  top: 0%;
  width: 20%;
}
#startPageRoot #microsoftLogo {
  height: auto;
  left: 68%;
  position: absolute;
  top: 10%;
  width: 20%;
}
#startPageRoot #museumInfoDiv {
  color: #fff;
  height: 50%;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}
#startPageRoot #museumLoc {
  color: #fff;
  font-size: 3em;
  height: 20%;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  font-family: arial, sans-serif;
}
#startPageRoot #museumName {
  color: #fff;
  height: 30%;
  padding-top: -4%;
  outline: 0;
  outline-offset: 0;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  font-family: sans-serif;
}
#startPageRoot #museumNameSpan {
  height: 100%;
}
#startPageRoot #overlay {
  position: relative;
  width: 100%;
  height: 100%;
}
#startPageRoot #serverSetUpContainer {
  background-color: rgba(0,0,0,0.85);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0%;
  height: 60%;
  position: absolute;
  right: 18.5%;
  text-align: center;
  width: 63%;
}
#startPageRoot #serverSetUpLabel {
  color: #fff;
  font-size: 115%;
  position: relative;
  text-align: center;
  top: 8%;
  font-family: sans-serif;
}
#startPageRoot #serverTagBuffer {
  bottom: 0%;
  height: 8%;
  position: absolute;
  right: 0%;
  width: 23.8%;
}
#startPageRoot #sponsoredText {
  height: auto;
  left: 68%;
  position: absolute;
  top: 20%;
  width: 20%;
}
#startPageRoot #tagName {
  color: #fff;
  font-size: 200%;
  font-family: 'arial';
  left: 20%;
  position: absolute;
  top: 10%;
}
#startPageRoot #touchHint {
  color: #fff;
  float: left;
  font-size: 250%;
  margin: 3% 0% 0% 10%;
  opacity: 0.8;
  text-shadow: #000 0.1em 0.1em 0.2em;
  width: 50%;
  font-family: sans-serif;
}
#startPageRoot #touchHintDiv {
  height: 13%;
  position: absolute;
  top: 29%;
  width: 100%;
}
