#tagRoot a {
  color: #26e;
}
#tagRoot img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#tagRoot * {
  font-family: 'source sans pro regular' sans-serif;
}
#tourRoot {
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
}
#tourRoot #backButton {
  height: auto;
  position: absolute;
  width: 100%;
  z-index: 100000000;
}
#tourRoot #backButtonContainer {
  left: 0.88%;
  position: absolute;
  top: 0.88%;
  width: 2.86%;
  height: auto;
  z-index: 100000000;
}
#tourRoot #overlayOnRoot {
  background-color: #f00;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
#tourRoot #rinPlayer {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
