#tagRoot a {
  color: #26e;
}
#tagRoot img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#VideoPlayerRoot {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#VideoPlayerRoot #backButton {
  width: 60%;
  height: auto;
}
#VideoPlayerRoot #backButtonContainer {
  position: absolute;
  width: 5%;
  top: 20%;
  left: 1%;
}
#VideoPlayerRoot #bottomBar {
  background-color: #3f3735;
  height: 8%;
  width: 100%;
  top: 92%;
  position: absolute;
}
#VideoPlayerRoot #currentTimeDisplay {
  width: 5%;
  height: 100%;
  display: inline-block;
  color: #fff;
  position: relative;
}
#VideoPlayerRoot #overlayOnRoot {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #f00;
  width: 100%;
  height: auto;
}
#VideoPlayerRoot #playHolder {
  position: relative;
  height: 70%;
  width: auto;
  display: inline-block;
  margin: 0 1%;
  top: 5%;
  margin-left: 22%;
}
#VideoPlayerRoot #playPauseButton {
  position: relative;
  height: 100%;
  width: auto;
  display: inline-block;
}
#VideoPlayerRoot #seek-bar {
  padding: 1%;
  width: 40%;
  height: 10%;
  margin-top: 1%;
  margin-left: 1%;
  display: inline-block;
}
#VideoPlayerRoot #timeContainer {
  height: 20px;
  width: 40px;
  margin: 0px 1% 0px 1%;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}
#VideoPlayerRoot #topBar {
  background-color: #3f3735;
  position: absolute;
  width: 100%;
  height: 8%;
}
#VideoPlayerRoot #videoContainer {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 84%;
  text-align: center;
  top: 8%;
}
#VideoPlayerRoot #video {
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
#VideoPlayerRoot #videoControlsButton {
  height: 50%;
  width: auto;
  position: relative;
  display: inline-block;
}
#VideoPlayerRoot #volHolder {
  margin: 0px 2.5%;
  top: 15%;
  width: auto;
  height: 100%;
  display: inline-block;
  position: relative;
}
