/* FONTS */

@font-face {
	font-family: 'sourceSans';
	src: url("../fonts/source-sans-pro-light/source-sans-pro-light.eot?") format('eot'), url("../fonts/source-sans-pro-light/source-sans-pro-light.woff") format('woff'), url("../fonts/source-sans-pro-light/source-sans-pro-light.ttf") format('ttf');
}

@font-face {
	font-family: 'sourceSansRegular';
	src: url("../fonts/source-sans-pro-regular/source-sans-pro-regular.eot?") format('eot'), url("../fonts/source-sans-pro-regular/source-sans-pro-regular.woff") format('woff'), url("../fonts/source-sans-pro-regular/source-sans-pro-regular.ttf") format('ttf');
}

*:not(tspan) {
	font-family: 'sourceSans';
}

/* CSS */

h1 {
	font-size: 2em;
	margin: 0.5em auto;
	text-align: center;
	font-weight: 400;
}

#controls {
	text-align: center;
}

#widthContainer, #heightContainer {
	display: block;
	text-align: center;
}

#currentTAGWidth, #currentTAGHeight, #widthSliderContainer, #heightSliderContainer {
	margin: 0.1em 0.5em;
	display: inline-block;
	text-align: left;
}

strong {
	text-transform: uppercase;
}

#refreshTAGButton {
	display: block;
	text-align: center;
	margin: 0.5em auto 1.5em auto;
	font-size: 1em;
}

#cpContainer {
	text-align: center;
	margin: 0.5em auto;
}

#tagContainer {
	margin: auto;
	border: 1px solid black;
	height: 540px;
	width: 960px;
	margin: 1em auto 3em auto;
}

#testContainer {
	text-align: center;
	margin: 0.5em auto;
}